<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                    {% for object in object_list %}
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <a href="{% url 'product' object.pk %}">
                                <img src="{{ object.image.first.image.medium.url }}" alt="">
                            </a>
                            {% if object.is_new %}
                            <div class="product-label">
                                <span class="new">Новинка</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-body">
                            <p class="product-category">
                                {% for category in object.category.all %}
                                {{ category.name }}
                                {% endfor %}
                            </p>
                            <h3 class="product-name">
                                <a href="{% url 'product' object.pk %}">{{ object.name }}</a>
                            </h3>
                            <h4 class="product-price">{{ object.price }}₽</h4>
                        </div>
                    </div>
                    <!-- /product -->
                    {% endfor %}
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
        </div>
    </div>
</div>