<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li{% if request.path == '/' %} class="active"{% endif %}><a href="/">Главная</a></li>
                {% for category in categories %}
                <li{% if category.slug in request.path %} class="active"{% endif %}><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>