{% extends 'base.html' %}

{% block content %}

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="title">Поиск по запросу «{{ q }}»</h1>
                    </div>
                </div>
                {% include 'includes/list.html' %}
            </div>
        </div>
    </div>
    <!-- /SECTION -->

{% endblock %}