{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="modal-header">
                    <h4 class="modal-title">Введите ваш email адрес для восстановления пароля</h4>
                </div>
                <div class="modal-body form-login">
                     <form class="row billing-details" method="post" action="">
                         <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                         {{ form.email.errors }}
                         <div class="col-md-8">
                             <div class="form-group">
                                 <input class="input" type="email" name="email" placeholder="E-mail" required>
                             </div>
                             <button type="submit" class="primary-btn order-submit">Восстановить</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}