{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                {% if validlink %}
                    <div class="modal-header">
                        <h4 class="modal-title">Введите новый пароль дважды</h4>
                    </div>
                    <div class="modal-body form-login">
                         <form class="row billing-details" method="post" action="">
                             <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                             {{ form.new_password2.errors }}
                             <div class="col-md-8">
                                 <div class="form-group">
                                     <input class="input" type="password" name="new_password1" placeholder="Новый пароль" required>
                                 </div>
                                 <div class="form-group">
                                     <input class="input" type="password" name="new_password2" placeholder="Повторите новый пароль" required>
                                 </div>
                                 <button type="submit" class="primary-btn order-submit">Изменить пароль</button>
                             </div>
                        </form>
                    </div>
                {% else %}
                    <div>
                        Ссылка, по которой вы перешли, недействительная. Возможно, вы по ней уже переходили.
                        Пожалуйста, пройдите процедуру восстановления заново.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}